node_modules
.idea
release-builds
.DS_Store
/.gitignore
/package-lock.json
build/
script.sh
/Mac_Distribution_Provisioning_Profiles_.provisionprofile
Image Shrinker-linux-x64/
!/build/
/electron-builder.yml
/dist/
/assets/css/imageshrinker.css.map
/assets/css/spectre.css.map
Image-Shrinker-win32-x64