@import "variables";
// Fira Sans
@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url(../fonts/FiraSans-Italic.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans'), local('FiraSans'), url(../fonts/FiraSans-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url(../fonts/FiraSans-BoldItalic.woff2) format('woff2');
  font-weight: 700;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-app-region: drag;
}

body {
  color: $dark-color;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  overflow: hidden;
  padding: 2rem .5rem;
}

#wrapper {
  max-height: calc(100vh - 4rem);
}

#background {
  background-image: url('../img/bg_poly.min.svg');
  background-size: 120% 120%;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(1.1);
  transition: transform 0.7s ease-out;
  width: 100vw;
  z-index: -1;
  perspective: 8000px;
  transform-style: preserve-3d;

}

#dragzone {
  border: 2px dashed $dark-color;
  color: $dark-color;
  cursor: pointer;
  font-style: italic;
  opacity: .5;
  padding: 1em;
  position: relative;
  text-align: center;
  transition: opacity .1s ease-out;
  &.drag-active {
    opacity: .9;
  }
  &::after {
    background-color: transparent;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .4s ease-out;
    width: 100%;
  }
  &.is--processing::after {
    background: rgba($secondary-color, .5) url("../img/tail-spin.min.svg") no-repeat center center;
    background-size: 15%;
    opacity: 1;
  }
  &:hover {
    opacity: .75;
  }
  strong {
    font-style: italic;
    font-weight: 400;
  }
  h1 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
  }
}

#result {
  max-height: 400px;
  overflow-y: scroll;
  -webkit-mask-image: -webkit-linear-gradient(bottom, transparent 1%, $light-color 20%, $light-color 90%, transparent 99%);

}

.resLine {
  border-bottom: 1px solid rgba($dark-color, .3);
  padding: 1rem .25rem;
  span {
    color: rgba($dark-color, .7);
    font-size: 8px;
    font-weight: 400;
  }
  a {
    color: rgba($dark-color, .9);
    display: block;
    font-size: 10px;
    font-style: italic;
  }
}

#menuSettings {
  background-color: rgba($dark-color, .9);
  color: rgba($light-color, .95);
  font-size: .675rem;
  height: 100vh;
  left: 0;
  padding: 3rem 1rem;
  position: absolute;
  top: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1);
  width: 100vw;
  z-index: 10;
  &.is--open {
    transform: translate3d(0, 0, 0);
  }
  li {
    border-bottom: 1px solid rgba($light-color, .2);
    padding: .5rem 1rem;
    &:after {
      clear: both;
      content: " ";

    }
  }
  .columns {
    border-bottom: 1px solid rgba($light-color, .1);
    padding: .5rem 0;
  }
  .column {
    align-self: center;
    span {
      line-height: 1rem;
    }
  }
}

#btnOpenSettings {
  z-index: 5;
  &:hover {
    color: rgba($dark-color, .50);
  }
}

#btnCloseSettings {
  &:hover {
    color: rgba($light-color, .75);
  }

}

#btnOpenSettings, #btnCloseSettings {
  bottom: 1rem;
  position: absolute;
  right: 1rem;
}

.icon {
  cursor: pointer;
}

.copyright {
  bottom: 1rem;
  color: $light-color;
  display: table;
  left: 1.5rem;
  margin: 0 auto;
  position: absolute;
  span {
    display: table-cell;
    font-size: 0.6em;
    opacity: 0.4;
    padding-right: 0.75em;
    vertical-align: middle;
  }
  img {
    opacity: 0.4;
    transition: opacity 200ms cubic-bezier(.79, .14, .15, .86);
    -o-transition: opacity 200ms cubic-bezier(.79, .14, .15, .86);
    -webkit-transition: opacity 200ms cubic-bezier(.79, .14, .15, .86);
  }
  a {
    display: block;
    line-height: 0;
    &:hover img {
      opacity: 1;
    }
  }
}

.text-small {
  font-size: .5rem;
}

.btn.btn-sm {
  font-size: .5rem;

}

#overlay {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 10;
}

#btnSavepath {
  width: calc(100vw - 3rem);
}